.product__description.base-padding {
  padding: 0;
  border-radius: 0px;
}
.sonicare__hx9911 .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.sonicare__hx9911 img {
  margin: 0;
}

.sonicare__hx9911 p {
  padding: 0;
  margin: 0;
}

.sonicare__hx9911 h3 {
  padding: 0;
  margin: 0;
}

.sonicare__hx9911 ul {
  padding: 0;
}

.sonicare__hx9911 ul li::marker {
  font-size: 0.7em;
}

.sonicare__hx9911 ul li {
  padding: 0;
}

.sonicare__hx9911 {
  overflow: hidden;
}

body {
  padding: 0;
}

.sonicare__hx9911 div {
  padding: 0;
  width: initial;
}

div.sonicare__hx9911 {
  padding: 0;
}

.sonicare__hx9911 br {
  display: block;
}

.product__body .el-tabs__header {
  z-index: 6;
}

.sonicare__hx9911 .main__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 260px;
}

.sonicare__hx9911 .main__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  width: 300px;
}

.sonicare__hx9911 .upper__main__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
  width: 154px;
}

.sonicare__hx9911 .green__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #269a91;
}

.sonicare__hx9911 .green__description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.sonicare__hx9911 .span__green__description {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.9);
}

.sonicare__hx9911 .bold__green__description {
  font-weight: 700;
}

.sonicare__hx9911 .about__title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #1e1e1e;
  margin-bottom: 10px;
}

.sonicare__hx9911 .about__description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #1e1e1e;
}

.sonicare__hx9911 .comments {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.8);
}
.sonicare__hx9911 .hero {
  width: 360px;
  margin: 0 auto;
}
.sonicare__hx9911 .hero__image {
  height: 204px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("https://i.citrus.world/uploads/Haber/Philips_Sonicare_HX9911/hero-bg.webp");
}

.sonicare__hx9911 .hero__logo {
  width: 70px;
  margin-left: 16px;
}

.sonicare__hx9911 .hero__main {
  padding: 14px 16px;
  background: linear-gradient(135deg, #269a91 0%, #5cb9bb 51.04%, #7eddde 100%);
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: left;
}
.sonicare__hx9911 .hero__main__warranty {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: flex-end;
  justify-content: space-around;
}

.sonicare__hx9911 .white_logo {
  width: 57px;
  height: 67px;
  background-image: url("https://i.citrus.world/uploads/Haber/Philips_Sonicare_HX9911/white_warranty.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sonicare__hx9911 .hero_warranty {
  width: 89px;
}

.sonicare__hx9911 .hero_plus_one {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 14px;
}
.sonicare__hx9911 .benefits {
  margin: 0 auto;
  padding: 40px 0px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sonicare__hx9911 .benefits__main__container {
  border-radius: 24px;
  padding: 24px 0px 0px 0px;
  width: 328px;
  color: #fff;
  background: linear-gradient(135deg, #269a91 0%, #5cb9bb 51.04%, #7eddde 100%);
}

.sonicare__hx9911 .benefits__title {
  text-align: center;
  margin-bottom: 32px;
  width: 296px;
}

.sonicare__hx9911 .benefits__image {
  width: 328px;
}

.sonicare__hx9911 .benefits__description {
  margin-top: 16px;
}

.sonicare__hx9911 .benefits__main__container p {
  margin-left: 16px;
  margin-right: 16px;
}

.sonicare__hx9911 .about {
  margin: 0 auto;
  padding: 40px 16px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.sonicare__hx9911 .about__item {
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sonicare__hx9911 .about__image {
  border-radius: 140px;
  width: 203px;
  margin-bottom: 18px;
}

.sonicare__hx9911 .features {
  margin: 0 auto;
  padding: 40px 16px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sonicare__hx9911 .features__list {
  width: 328px;
  margin: 0 0 0 32px;
}

.sonicare__hx9911 .features__image {
  width: 168px;
}

.sonicare__hx9911 .features__item__description {
  width: 309px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #000;
}

.sonicare__hx9911 .brush_head {
  margin: 0 auto;
  padding: 40px 16px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
}

.sonicare__hx9911 .brush__title {
  width: 295px;
}

.sonicare__hx9911 .brush__description {
  width: 320px;
}

.sonicare__hx9911 .brush_head__image {
  border-radius: 140px;
  width: 203px;
  margin-bottom: 18px;
}

.sonicare__hx9911 .modes {
  margin: 0 auto;
  padding: 40px 16px;
  width: 360px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 32px;
  align-items: center;
}

.sonicare__hx9911 .modes__container {
  border-radius: 24px;
  padding: 24px 16px 0px 16px;
  width: 328px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  background: linear-gradient(135deg, #269a91 0%, #5cb9bb 51.04%, #7eddde 100%);
}

.sonicare__hx9911 .modes__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style-type: none;
  margin: 0;
  gap: 18px;
}

.sonicare__hx9911 .modes__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 14px;
}

.sonicare__hx9911 .modes__item__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}

.sonicare__hx9911 .modes__image {
  width: 251px;
}

.sonicare__hx9911 .compatible_heads {
  margin: 0 auto;
  padding: 40px 16px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sonicare__hx9911 .compatible_heads__container {
  width: 328px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 24px;
  padding: 24px 16px 0px 16px;
  background: #f5f5f5;
}

.sonicare__hx9911 .compatible_description__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sonicare__hx9911 .compatible__logo__container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  width: 296px;
}

.sonicare__hx9911 .compatible__logo__description {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.sonicare__hx9911 .compatible_logo {
  width: 40px;
}

.sonicare__hx9911 .compatible_heads__list {
  margin: 0 0 0 25px;
  width: 296px;
}

.sonicare__hx9911 .compatible_description {
  width: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.9);
}
.sonicare__hx9911 .compatible_image {
  width: 296px;
}

.sonicare__hx9911 .application {
  width: 360px;
  margin: 0 auto;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sonicare__hx9911 .application__title {
  width: 328px;
  margin-bottom: 12px;
  text-align: center;
}

.sonicare__hx9911 .application__description {
  width: 296px;
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1e1e1e;
}

.sonicare__hx9911 .application__image {
  width: 328px;
  border-radius: 24px;
}

.sonicare__hx9911 .charge {
  width: 360px;
  margin: 0 auto;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sonicare__hx9911 .charge__title {
  width: 320px;
  margin-bottom: 12px;
  text-align: center;
}

.sonicare__hx9911 .charge__description {
  width: 296px;
  margin-bottom: 32px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #1e1e1e;
}

.sonicare__hx9911 .charge__image {
  border-radius: 24px;
  width: 328px;
}

.sonicare__hx9911 .equipment {
  width: 360px;
  margin: 0 auto;
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.sonicare__hx9911 .equipment__container {
  width: 328px;
  border-radius: 24px;
  padding: 24px 16px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sonicare__hx9911 .equipment__list {
  margin: 0 24px 0 16px;
}

.sonicare__hx9911 .equipment__title {
  width: 320px;
  text-align: center;
}

.sonicare__hx9911 .equipment__item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.9);
}

.sonicare__hx9911 .equipment__image {
  width: 296px;
}

.sonicare__hx9911 .myphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 40px 0 0 0;
  width: 360px;
  margin: 0 auto;
}
.sonicare__hx9911 .myphs__title {
  width: 290px;
  text-align: center;
}
.sonicare__hx9911 .myphs__image {
  width: 360px;
}

.sonicare__hx9911 .footer {
  padding: 40px 32px;
  width: 360px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .sonicare__hx9911 .hero {
    width: 720px;
  }

  .sonicare__hx9911 .hero__container {
    padding: 0 32px;
    width: 720px;
    height: 408px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://i.citrus.world/uploads/Haber/Philips_Sonicare_HX9911/hero-bg.webp");
  }
  .sonicare__hx9911 .hero__image {
    background: transparent;
    height: auto;
    margin-bottom: 28px;
  }

  .sonicare__hx9911 .main__title {
    font-size: 32px;
  }
  .sonicare__hx9911 .white_logo {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  .sonicare__hx9911 .green_logo {
    width: 57px;
    height: 67px;
    background-image: url("https://i.citrus.world/uploads/Haber/Philips_Sonicare_HX9911/green_warranty.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .sonicare__hx9911 .hero__logo {
    width: 89px;
    margin-left: 0px;
  }

  .sonicare__hx9911 .hero__main {
    padding: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: left;
  }

  .sonicare__hx9911 .main__title {
    width: 316px;
    text-shadow: none;
  }

  .sonicare__hx9911 .main__description {
    width: 275px;
  }

  .sonicare__hx9911 .upper__main__title {
    width: 154px;
  }

  .sonicare__hx9911 .hero__main__warranty {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: flex-end;
    justify-content: space-between;
  }

  .sonicare__hx9911 .hero_plus_one {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 14px;
  }

  .sonicare__hx9911 .benefits {
    padding: 40px 32px;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sonicare__hx9911 .benefits__main__container {
    border-radius: 24px;
    width: 656px;
    padding: 40px 0px 40px 57px;
    color: #fff;
    background: linear-gradient(
      135deg,
      #269a91 0%,
      #5cb9bb 51.04%,
      #7eddde 100%
    );
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sonicare__hx9911 .description__container {
    width: 259px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .sonicare__hx9911 .benefits__title {
    text-align: center;
    margin-bottom: 32px;
    width: 445px;
  }

  .sonicare__hx9911 .benefits__image {
    width: 340px;
    height: 259px;
  }

  .sonicare__hx9911 .benefits__main__container p {
    margin: 0;
  }

  .sonicare__hx9911 .about {
    margin: 0 auto;
    padding: 40px 32px;
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
  }

  .sonicare__hx9911 .about__item {
    width: 202px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sonicare__hx9911 .about__image {
    border-radius: 140px;
    width: 203px;
  }

  .sonicare__hx9911 .features {
    margin: 0 auto;
    padding: 40px 0;
    width: 656px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sonicare__hx9911 .features__item__description {
    width: 210px;
  }
  .sonicare__hx9911 .wd {
    width: 205px;
  }

  .sonicare__hx9911 .features__list {
    width: 245px;
    margin: 0 0 0 32px;
  }

  .sonicare__hx9911 .features__image {
    width: 138px;
  }

  .sonicare__hx9911 .brush_head {
    margin: 0 auto;
    padding: 40px 32px;
    width: 720px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 24px;
  }

  .sonicare__hx9911 .brush__title {
    width: 422px;
    margin-right: 20px;
  }
  .sonicare__hx9911 .brush_item {
    width: 202px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sonicare__hx9911 .brush__description {
    width: 180px;
    align-items: center;
  }

  .sonicare__hx9911 .brush_head__image {
    border-radius: 140px;
    width: 202px;
    margin-bottom: 18px;
  }

  .sonicare__hx9911 .modes {
    margin: 0 auto;
    padding: 40px 0px;
    width: 720px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 40px;
    align-items: center;
  }

  .sonicare__hx9911 .modes__container {
    border-radius: 24px;
    padding: 0px 0px 0px 57px;
    width: 656px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
    background: linear-gradient(
      135deg,
      #269a91 0%,
      #5cb9bb 51.04%,
      #7eddde 100%
    );
  }

  .sonicare__hx9911 .modes__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
    margin: 0;
    width: 285px;
    gap: 14px;
  }

  .sonicare__hx9911 .modes__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 14px;
  }

  .sonicare__hx9911 .modes__item__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #fff;
  }

  .sonicare__hx9911 .modes__image {
    width: 283px;
  }

  .sonicare__hx9911 .compatible_heads {
    margin: 0 auto;
    padding: 40px 0px;
    width: 720px;
    display: flex;
    align-items: center;
    gap: 24px;
  }

  .sonicare__hx9911 .compatible_heads__container {
    width: 656px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
    padding: 40px 57px 0px 57px;
    border-radius: 24px;
    background: #f5f5f5;
  }

  .sonicare__hx9911 .compatible__logo__container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    width: 296px;
  }

  .sonicare__hx9911 .compatible__logo__description {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #000;
  }

  .sonicare__hx9911 .compatible_logo {
    width: 40px;
  }

  .sonicare__hx9911 .compatible_heads__list {
    margin: 0 0 0 25px;
    width: 296px;
  }

  .sonicare__hx9911 .compatible_description__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding-bottom: 40px;
  }

  .sonicare__hx9911 .compatible_description__title {
    text-align: left;
  }

  .sonicare__hx9911 .compatible_description {
    width: 295px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.9);
  }
  .sonicare__hx9911 .compatible_image {
    width: 202px;
  }

  .sonicare__hx9911 .application {
    width: 720px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sonicare__hx9911 .application__title {
    margin-bottom: 12px;
  }

  .sonicare__hx9911 .application__description {
    width: 382px;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1e1e1e;
  }

  .sonicare__hx9911 .application__image {
    width: 656px;
  }

  .sonicare__hx9911 .charge {
    width: 720px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sonicare__hx9911 .charge__title {
    margin-bottom: 12px;
  }

  .sonicare__hx9911 .charge__description {
    width: 555px;
    margin-bottom: 32px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #1e1e1e;
  }

  .sonicare__hx9911 .charge__image {
    width: 656px;
  }

  .sonicare__hx9911 .equipment {
    width: 720px;
    margin: 0 auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .sonicare__hx9911 .equipment__container {
    width: 656px;
    border-radius: 24px;
    padding: 0 28px;
    background: #f5f5f5;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 32px;
  }

  .sonicare__hx9911 .equipment__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    margin: 0;
  }

  .sonicare__hx9911 .equipment__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.9);
  }

  .sonicare__hx9911 .equipment__image {
    width: 202px;
  }

  .sonicare__hx9911 .myphs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 40px 0 0 0;
    width: 720px;
    margin: 0 auto;
  }

  .sonicare__hx9911 .myphs__image {
    width: 720px;
  }

  .sonicare__hx9911 .footer {
    padding: 40px 32px;
    width: 720px;
    margin: 0 auto;
  }

  .sonicare__hx9911 .compare {
    padding-top: 28px;
    margin: 0 auto;
    width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sonicare__hx9911 .compare_title {
    margin-bottom: 28px;
  }

  .sonicare__hx9911 .compare_green_subtitle {
    width: 720px;
    background: #dff0ef;
    padding: 8px 14px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #000;
  }

  .sonicare__hx9911 .compare__items {
    display: flex;
    flex-direction: row;
  }
  .sonicare__hx9911 .compare__item {
    padding: 0px 2px 0 2px;
    width: 144px;
    height: 234px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sonicare__hx9911 .compare__item_description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: inherit;
  }

  .sonicare__hx9911 .compare__item_title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: inherit;
    margin-bottom: 4px;
  }

  .sonicare__hx9911 .green_compare {
    background: #68b9b2;
    color: #fff;
  }

  .sonicare__hx9911 .compare__attribute {
    display: flex;
    flex-direction: row;
  }

  .sonicare__hx9911 .compare__attribute_item {
    height: 41px;
    width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sonicare__hx9911 .compare__attribute_circle {
    height: 41px;
    width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sonicare__hx9911 .compare__attribute_description {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    text-align: center;
    color: inherit;
  }
  .sonicare__hx9911 .visually-hidden {
    position: relative;
    width: 720px;
    height: inherit;
    margin: 0 auto;
    border: inherit;
    padding: 28px 0 0 0;

    white-space: nowrap;
    clip-path: inherit;
    clip: inherit;
    overflow: visible;
  }
}

@media (min-width: 1024px) {
  .sonicare__hx9911 .hero {
    width: 976px;
  }

  .sonicare__hx9911 .hero__container {
    padding: 0 40px;
    width: 976px;
    height: auto;
  }

  .sonicare__hx9911 .green_logo {
    width: 77px;
    height: 91px;
    background-image: url("https://i.citrus.world/uploads/Haber/Philips_Sonicare_HX9911/green_warranty.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .sonicare__hx9911 .hero__image {
    margin-bottom: 35px;
  }

  .sonicare__hx9911 .hero__logo {
    width: 129px;
  }

  .sonicare__hx9911 .hero__main {
    gap: 18px;
  }

  .sonicare__hx9911 .main__title {
    font-size: 44px;
    width: 425px;
  }

  .sonicare__hx9911 .main__description {
    font-size: 24px;
    width: 370px;
  }

  .sonicare__hx9911 .upper__main__title {
    font-size: 16px;
    width: 185px;
  }
  .sonicare__hx9911 .hero_warranty {
    width: 129px;
  }

  .sonicare__hx9911 .hero_plus_one {
    gap: 18px;
  }
  .sonicare__hx9911 .hero__main__warranty {
    margin-top: 17px;
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 60px;
  }

  .sonicare__hx9911 .benefits {
    margin: 0 auto;
    padding: 42px 40px;
    width: 976px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .sonicare__hx9911 .benefits__main__container {
    border-radius: 32px;
    padding: 40px 0px 40px 77px;
    width: 896px;
  }
  .sonicare__hx9911 .description__container {
    width: 360px;
  }
  .sonicare__hx9911 .benefits__title {
    width: 585px;
    margin-bottom: 40px;
  }

  .sonicare__hx9911 .green__title {
    font-size: 32px;
  }

  .sonicare__hx9911 .green__description {
    font-size: 20px;
  }

  .sonicare__hx9911 .benefits__image {
    width: 460px;
    height: 351px;
  }

  .sonicare__hx9911 .about {
    padding: 42px 40px;
    width: 976px;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
  }

  .sonicare__hx9911 .about__item {
    width: 272px;
  }

  .sonicare__hx9911 .about__image {
    border-radius: 140px;
    width: 272px;
  }

  .sonicare__hx9911 .about__title {
    font-size: 20px;
  }
  .sonicare__hx9911 .about__description {
    font-size: 18px;
  }

  .sonicare__hx9911 .features {
    padding: 42px 40px;
    width: 976px;
    justify-content: center;
  }

  .sonicare__hx9911 .features__list {
    width: 328px;
    margin: 0 0 0 16px;
  }

  .sonicare__hx9911 .features__item__description {
    width: 305px;
    font-size: 18px;
  }

  .sonicare__hx9911 .features__image {
    width: 236px;
  }

  .sonicare__hx9911 .brush_head {
    padding: 42px 40px;
    width: 976px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 24px;
  }

  .sonicare__hx9911 .brush__title {
    width: 585px;
    margin-right: 20px;
  }

  .sonicare__hx9911 .brush__description {
    width: 272px;
  }
  .sonicare__hx9911 .brush_item {
    width: 272px;
  }

  .sonicare__hx9911 .brush_head__image {
    border-radius: 140px;
    width: 272px;
    margin-bottom: 18px;
  }

  .sonicare__hx9911 .modes {
    width: 976px;
    gap: 40px;
  }

  .sonicare__hx9911 .modes__container {
    border-radius: 32px;
    padding: 0px 0px 0px 77px;
    width: 876px;
    gap: 42px;
  }

  .sonicare__hx9911 .modes__list {
    width: 390px;
    gap: 16px;
  }

  .sonicare__hx9911 .modes__items {
    gap: 28px;
    width: 385px;
  }

  .sonicare__hx9911 .modes__items img {
    width: 60px;
  }

  .sonicare__hx9911 .modes__item__description {
    font-size: 16px;
  }

  .sonicare__hx9911 .modes__image {
    width: 383px;
  }

  .sonicare__hx9911 .compatible_heads {
    padding: 42px 0px;
    width: 976px;
    gap: 0px;
  }

  .sonicare__hx9911 .compatible_heads__container {
    border-radius: 32px;
    padding: 40px 77px 0 77px;
    width: 896px;
    justify-content: center;
  }

  .sonicare__hx9911 .compatible__logo__container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    width: 355px;
  }

  .sonicare__hx9911 .compatible__logo__description {
    font-size: 20px;
  }

  .sonicare__hx9911 .compatible_logo {
    width: 60px;
  }

  .sonicare__hx9911 .compatible_heads__list {
    margin: 0 0 0 30px;
    width: 296px;
  }

  .sonicare__hx9911 .compatible_description__container {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    padding-bottom: 40px;
  }

  .sonicare__hx9911 .compatible_description__title {
    text-align: left;
  }

  .sonicare__hx9911 .compatible_description {
    font-size: 20px;
    width: 365px;
  }
  .sonicare__hx9911 .compatible_image {
    width: 282px;
  }

  .sonicare__hx9911 .application {
    padding: 60px 0px;
    width: 976px;
  }

  .sonicare__hx9911 .application__title {
    margin-bottom: 12px;
    width: 600px;
  }

  .sonicare__hx9911 .application__description {
    width: 550px;
    margin-bottom: 32px;
    font-size: 20px;
  }

  .sonicare__hx9911 .application__image {
    width: 896px;
  }

  .sonicare__hx9911 .charge {
    width: 976px;
    margin: 0 auto;
    padding: 40px 0px;
  }

  .sonicare__hx9911 .charge__title {
    margin-bottom: 14px;
  }

  .sonicare__hx9911 .charge__description {
    width: 700px;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .sonicare__hx9911 .charge__image {
    border-radius: 32px;
    width: 896px;
  }

  .sonicare__hx9911 .equipment {
    width: 976px;
    padding: 42px 0px;
    gap: 40px;
  }

  .sonicare__hx9911 .equipment__container {
    border-radius: 32px;
    padding: 0px 77px;
    width: 896px;
    gap: 40px;
  }

  .sonicare__hx9911 .equipment__list {
    width: 400px;
    margin: 0 0 0 32px;
  }

  .sonicare__hx9911 .equipment__item {
    font-size: 20px;
  }

  .sonicare__hx9911 .equipment__image {
    width: 282px;
  }

  .sonicare__hx9911 .myphs {
    gap: 42px;
    padding: 42px 0 0 0;
    width: 976px;
  }

  .sonicare__hx9911 .myphs__image {
    width: 976px;
  }

  .sonicare__hx9911 .footer {
    padding: 42px 40px;
    width: 976px;
  }

  .sonicare__hx9911 .comments {
    font-size: 14px;
  }

  .sonicare__hx9911 .compare {
    padding-top: 40px;
    width: 976px;
  }
  .sonicare__hx9911 .compare_title {
    color: #000;
    margin-bottom: 40px;
  }
  .sonicare__hx9911 .compare_green_subtitle {
    width: 976px;
    padding: 12px 18px;
    font-size: 22px;
  }

  .sonicare__hx9911 .compare__items {
    display: flex;
    flex-direction: row;
    width: 976px;
  }
  .sonicare__hx9911 .compare__item {
    padding: 0px 2px 0 2px;
    width: 195px;
    height: 308px;
  }
  .sonicare__hx9911 .compare__item img {
    width: 194px;
  }

  .sonicare__hx9911 .compare__item_description {
    font-size: 18px;
  }

  .sonicare__hx9911 .compare__item_title {
    font-size: 18px;
  }
  .sonicare__hx9911 .compare__attribute {
    width: 976px;
  }
  .sonicare__hx9911 .compare__attribute_item {
    height: 47px;
    width: 195px;
  }

  .sonicare__hx9911 .compare__attribute_circle {
    height: 47px;
    width: 195px;
  }
  .sonicare__hx9911 .compare__attribute_description {
    font-size: 16px;
  }
  .sonicare__hx9911 .visually-hidden {
    width: 976px;
    padding: 40px 0 0 0;
  }
}

@media (min-width: 1440px) {
  .sonicare__hx9911 .hero {
    width: 1366px;
  }

  .sonicare__hx9911 .hero__container {
    width: 1366px;
    padding: 0 60px;
  }

  .sonicare__hx9911 .green_logo {
    width: 106px;
    height: 125px;
  }

  .sonicare__hx9911 .hero__image {
    margin-bottom: 58px;
  }

  .sonicare__hx9911 .hero__logo {
    width: 188px;
  }

  .sonicare__hx9911 .hero__main {
    gap: 24px;
  }

  .sonicare__hx9911 .main__title {
    font-size: 62px;
    width: 611px;
    line-height: 120%;
  }

  .sonicare__hx9911 .main__description {
    font-size: 32px;
    width: 585px;
  }

  .sonicare__hx9911 .upper__main__title {
    font-size: 18px;
    width: 230px;
  }

  .sonicare__hx9911 .hero__main__warranty {
    margin-top: 34px;
    gap: 24px;
    padding-bottom: 80px;
  }
  .sonicare__hx9911 .hero_warranty {
    width: 188px;
  }

  .sonicare__hx9911 .benefits {
    padding: 60px 0px;
    width: 1366px;
  }

  .sonicare__hx9911 .benefits__main__container {
    border-radius: 40px;
    padding: 60px 0px 60px 106px;
    width: 1246px;
    justify-content: space-between;
  }
  .sonicare__hx9911 .description__container {
    width: 505px;
    margin-right: 0;
  }
  .sonicare__hx9911 .benefits__title {
    margin-bottom: 60px;
    width: 855px;
  }

  .sonicare__hx9911 .green__title {
    font-size: 42px;
  }

  .sonicare__hx9911 .green__description {
    font-size: 26px;
  }

  .sonicare__hx9911 .benefits__image {
    width: 635px;
    height: auto;
  }

  .sonicare__hx9911 .about {
    padding: 60px;
    width: 1246px;
    gap: 60px;
  }

  .sonicare__hx9911 .about__item {
    width: 375px;
  }

  .sonicare__hx9911 .about__image {
    border-radius: 200px;
    width: 375px;
    height: auto;
    margin-bottom: 24px;
  }

  .sonicare__hx9911 .about__title {
    width: 290px;
    font-size: 26px;
    margin-bottom: 14px;
  }
  .sonicare__hx9911 .about__description {
    font-size: 20px;
    width: 375px;
  }

  .sonicare__hx9911 .features {
    padding: 60px 0px;
    width: 1034px;
    justify-content: center;
  }

  .sonicare__hx9911 .features__list {
    width: 399px;
    margin: 0 0 0 32px;
  }

  .sonicare__hx9911 .features__item__description {
    width: 366px;
    font-size: 22px;
  }

  .sonicare__hx9911 .wd {
    width: 355px;
  }

  .sonicare__hx9911 .features__image {
    width: 236px;
  }

  .sonicare__hx9911 .wd {
    width: 340px;
  }

  .sonicare__hx9911 .brush_head {
    padding: 60px;
    width: 1366px;
    gap: 50px;
  }

  .sonicare__hx9911 .brush__title {
    width: 750px;
    margin-right: 80px;
    margin-left: 80px;
  }
  .sonicare__hx9911 .brush_item {
    width: 375px;
  }

  .sonicare__hx9911 .brush__description {
    width: 375px;
  }

  .sonicare__hx9911 .brush_head__image {
    border-radius: 200px;
    width: 375px;
    margin-bottom: 24px;
  }
  .sonicare__hx9911 .modes {
    width: 1366px;
    padding: 60px 0;
    gap: 60px;
  }
  .modes__title {
    width: 729px;
  }
  .sonicare__hx9911 .modes__container {
    border-radius: 40px;
    padding: 0px 0px 0px 106px;
    width: 1246px;
    gap: 60px;
  }

  .sonicare__hx9911 .modes__list {
    width: 595px;
    gap: 16px;
  }

  .sonicare__hx9911 .modes__items {
    width: 595px;
    gap: 36px;
  }

  .sonicare__hx9911 .modes__items img {
    width: 100px;
  }

  .sonicare__hx9911 .modes__item__description {
    width: 410px;
    font-size: 22px;
  }

  .sonicare__hx9911 .modes__image {
    width: 530px;
  }

  .sonicare__hx9911 .compatible_heads {
    padding: 60px 0px;
    width: 1366px;
  }

  .sonicare__hx9911 .compatible_heads__container {
    border-radius: 40px;
    padding: 60px 60px 0px 60px;
    width: 1246px;
    justify-content: center;
    gap: 60px;
  }

  .sonicare__hx9911 .compatible__logo__container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    width: 575px;
  }

  .sonicare__hx9911 .compatible__logo__description {
    font-size: 26px;
  }

  .sonicare__hx9911 .compatible_logo {
    width: 80px;
  }

  .sonicare__hx9911 .compatible_heads__list {
    margin: 0 0 0 30px;
    width: 575px;
  }

  .sonicare__hx9911 .compatible_description__container {
    width: 575px;
    gap: 18px;
    padding-bottom: 60px;
  }

  .sonicare__hx9911 .compatible_description__title {
    text-align: left;
  }

  .sonicare__hx9911 .compatible_description {
    width: 565px;
    font-size: 26px;
  }
  .sonicare__hx9911 .compatible_image {
    width: 399px;
  }

  .sonicare__hx9911 .application {
    padding: 60px 0px;
    width: 1366px;
  }

  .sonicare__hx9911 .application__title {
    width: 600px;
    margin-bottom: 18px;
  }

  .sonicare__hx9911 .application__description {
    width: 785px;
    margin-bottom: 60px;
    font-size: 26px;
  }

  .sonicare__hx9911 .application__image {
    width: 1246px;
  }

  .sonicare__hx9911 .charge {
    width: 1366px;
    padding: 60px 0px;
  }

  .sonicare__hx9911 .charge__title {
    width: 600px;
    margin-bottom: 18px;
  }

  .sonicare__hx9911 .charge__description {
    width: 775px;
    margin-bottom: 60px;
    font-size: 26px;
  }

  .sonicare__hx9911 .charge__image {
    border-radius: 40px;
    width: 1246px;
  }

  .sonicare__hx9911 .equipment {
    width: 1366px;
    padding: 60px 0px;
    gap: 60px;
  }

  .sonicare__hx9911 .equipment__container {
    border-radius: 40px;
    padding: 0px 106px;
    width: 1246px;
    gap: 60px;
    justify-content: center;
  }

  .sonicare__hx9911 .equipment__list {
    width: 565px;
    margin: 0 0 0 32px;
  }

  .sonicare__hx9911 .equipment__item {
    font-size: 26px;
  }

  .sonicare__hx9911 .equipment__image {
    width: 399px;
  }

  .sonicare__hx9911 .myphs {
    gap: 60px;
    padding: 60px 0 0 0;
    width: 1366px;
  }

  .sonicare__hx9911 .myphs__image {
    width: 1366px;
  }

  .sonicare__hx9911 .footer {
    padding: 60px 40px;
    width: 1366px;
    margin: 0 auto;
  }

  .sonicare__hx9911 .comments {
    width: 1246px;
    font-size: 14px;
  }

  .sonicare__hx9911 .compare {
    padding-top: 60px;
    width: 1366px;
  }

  .sonicare__hx9911 .compare_title {
    margin-bottom: 60px;
  }

  .sonicare__hx9911 .compare_green_subtitle {
    width: 1366px;
    padding: 18px 24px;
    font-size: 24px;
  }

  .sonicare__hx9911 .compare__items {
    width: 1366px;
  }
  .sonicare__hx9911 .compare__item {
    padding: 0px 2px 0 2px;
    width: 273px;
    height: 422px;
  }
  .sonicare__hx9911 .compare__item img {
    width: 273px;
  }

  .sonicare__hx9911 .compare__item_description {
    font-size: 24px;
  }

  .sonicare__hx9911 .compare__item_title {
    font-size: 24px;
  }

  .sonicare__hx9911 .compare__attribute {
    width: 1366px;
  }

  .sonicare__hx9911 .compare__attribute_item {
    height: 61px;
    width: 273px;
  }

  .sonicare__hx9911 .compare__attribute_circle {
    height: 61px;
    width: 273px;
  }
  .sonicare__hx9911 .compare__attribute_description {
    font-size: 24px;
  }
  .sonicare__hx9911 .visually-hidden {
    width: 1366px;
    padding: 60px 0 0 0;
  }
}
