.main__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  color: #fff;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
}

.second__title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}

.green__main__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #269a91;
}
